body {
    margin: 0;
    background-color: #fff;
    color: #FFF;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote {
    margin: 0;
    padding: 0;
  }
  
  .content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    min-height: 100px;
    margin: auto;
  }