.header {
    height: 95px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.header__title {
    color:  #FFF;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 110% */
    text-transform:capitalize;
    align-self: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 39px;
    list-style: none;
}

.header__list-item a {
    text-decoration: none;
    color: #FFF;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 423.077% */
    text-transform: uppercase;
}

.pre-header {
    position: relative;
    padding: 278px 0 275px;
}

.pre-header__title {
    color:#FFF;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
    text-transform: uppercase;
}

.pre-header__text {
    margin-top: 14px;
    color: #A6A7AA;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
}

.pre-header__btn {
    margin-top: 40px;
    padding: 15px 31px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px; /* 140% */
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}

.pre-header__form-field {
    position: absolute;
    border: none;
    top: 345px;
    right: 10px;
}

.pre-header__form-field::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 346px;
    background-color: #fff;
    border-radius: 30px;
    top: -54px;
    left: -1px;
}

.pre-header__form {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 20px;
}

.pre-header__form h2 {
    margin-bottom: -5px;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 140% */
}

.pre-header__form-input {
    color: #A6A7AA;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    padding: 13px 15px;
    width: 415px;
    border-radius: 30px;
}

.pre-header__form-input:focus {
    outline: none;
}

.pre-header__form-input:focus-visible {
    outline: 1px solid #5e5e5e;
    border-radius: 30px;
}

.pre-header__form-input-submit {
    padding: 14px 30px;
    width: 110px;
    display: flex;
    justify-content: center;
    background-color: #17BED2;
    border: none;
    color: #FFF;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px; /* 140% */
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}

.pre-header__form-input-submit:hover {
    box-shadow: 3px 3px 5px #5e5e5e;
    transition: all 0.3s;
}

.pre-header__btn:hover {
    box-shadow: 3px 3px 5px #5e5e5e;
    transition: all 0.3s;
}

.back__img {
    position: absolute;
    z-index: -1;
    left: -32%;
    top: -120px;
    height: 946px;
    pointer-events: none;
    overflow-y: hidden;
}


.pre-header__form-input-area {
    resize: none;
}

.last {
    padding: 100px 0 100px;
}

.last__title {
    color:  #515769;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 140% */
    padding-left: 15px;
}

.last__text {
    padding: 14px 0 56px 15px;
    color: #A6A7AA;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
}

.last__card-list {
    display: flex;
    list-style: none;
}

.last__card-list_item {
    width: 390px;
    padding: 0 15px;
}

.last__card_link {
    text-decoration: none;
}

.last__card-img {
    display: block;
    width: 360px;
    height: 240px;
}

.last__card-img_teame {
    height: 402px;
    max-width: 360px;   
}

.last__card-img  img {
    width: 100%;
}

.last__card_title {
    color: #515769;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.8px; /* 140% */
    padding: 20px 0 15px;
}

.last__card_title::after {
    content: "DESIGN";
    margin-left: 25px;
    color: #BFC1C7;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    text-transform: uppercase;
}

.last__card_title-manager,
.last__card_title-architect,
.last__card_title-designer {
    color: #515769;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.8px; /* 140% */
    padding: 20px 0 15px;
}

.last__card_title-manager::after {
    content: "Менеджер проектов";
    margin-left: 25px;
    color: #BFC1C7;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    text-transform: uppercase;
}

.last__card_title-architect::after {
    content: "архитектор";
    margin-left: 25px;
    color: #BFC1C7;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    text-transform: uppercase;
}

.last__card_title-designer::after {
    content: "Дизайнер";
    margin-left: 25px;
    color: #BFC1C7;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    text-transform: uppercase;
}

.last__card_text {
    color: #A6A7AA;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    padding-bottom: 15px;
}

.last__card_btn {
    position: relative;
    color: #81848F;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.57px; /* 142.846% */
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 15px;
}

.last__card_btn::after {
    position: absolute;
    content: "";
    top: 5px;
    right: -5px;
    width: 9px;
    height: 2px;
    background: #17BED2;
}

.team {
    padding: 100px 0 100px;
}

.team__title {
    color: #515769;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 140% */
    padding-left: 15px;
    padding-bottom: 55px;
}

.footer {
    padding: 40px 0 40px;
    position: relative;
    height: 202px;
}

.footer__img {
    position: absolute;
    top: 0;
    left: -367px;
    width: 1920px;
    height: 100%;
    background-image: url(/img/footer.jpg);
    z-index: -1;
    background-position: center center;
}

.footer__list {
    width: 1140px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.footer__list_item a {
    text-decoration: none;
    color: #CBD3E1;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.86px; /* 142.875% */
}

.footer__dev {
    padding: 39px 0 0 15px;
    color: #A6A7AA;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 140% */
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.footer__dev span {
    color: #17BED2;
}